.hidden {
    display: none;
}
  
.modal-window {
    position: absolute;
    top: 30vh;
    padding: 1em;
    background-color: white;
    border: solid 5px #458e68;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20em;
    height: 10em;
}
  
  .modal-window button {
    width: 5em;
    margin-top: 2em;
    padding: 0.5em;
    background-color: #458e68;
    color: white;
    font-size: 1em;
    font-weight: 500;
  }
  
  .create-employee-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin: 1em 5em;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0.5em 0em;
  }
  
  .form-field label {
    text-align: left;
    color: #4c4c4e;
    font-weight: 500;
  }
  
  .form-field input {
    height: 1.5em;
    border-radius: 2px;
    border: solid 1px gray;
  }
  
  .form-field select {
    height: 2.2em;
    border-radius: 2px;
    border: solid 1px gray;
  }
  
  .addressField {
    width: 100%;
    margin: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .addressField .form-field {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0.5em 0em;
  }
  
  .line-break {
    width: 100%;
  }
  
  .form-submit-btn {
    width: 10em;
    margin: 2em;
    padding: 0.5em;
    background-color: #45818e;
    color: white;
    font-size: 1em;
    font-weight: 500;
  }
  
  @media (max-width: 920px) {
    .create-employee-form {
      width: 90%;
    }
  
    .form-field {
      width: 100%;
    }
  
    .addressField {
      width: 100%;
      margin: 1em 0em;
    }
  
    .addressField .form-field {
      width: 100%;
    }
  }  